.notfound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87vh;
}

.not-found-details {
    color: #4078c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 35rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
  
.not-found-title {
    font-weight: bold;
    font-size: 2rem;
    color: #4078c0;
    margin: 2rem 0rem;
}
  
.not-found-image {
    width: 20rem;
}

.home-btn {
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    color: #4078c0;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #4078c0;
    background: none;
    transition: 0.3s;
}

.home-btn:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
  
  @media screen and (max-width: 768px) {
    .not-found-title {
      font-size: 1.5rem;
    }
    .not-found-image {
      width: 15rem;
    }
  }